html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}

/* space on the left and right of page - used here, NOT on body */
.wrapper{
    width: 90%;
    margin: 0 auto;
}
/* ///////////////////// */

/* Header image, heading and short sentence */
h1{
    color: #DA0090;
    font-size: 2.5rem;
}
header{
    display: flex;
    justify-content: center;
}
.rightheader h1{
    margin: 4rem 0 0 0.5rem;
}
.rightheader p{
    margin: 0rem 0 0 0.5rem;
}
/* ////////////////////// */

/* navigation bar - inline-block */

/* nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
    border-top:#DA0090 3px solid;
    border-bottom:#A51F10 3px solid ;
    margin-bottom: 2rem;
}

nav li{
    display: inline-block;
    padding: 1rem 0 1rem 2rem;
}

nav a{
    color: #A51F10;
} */

/* ////////////////////////////// */

/* navigation bar - flexbox */
nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    list-style-type: none;

    border-top:#DA0090 3px solid;
    border-bottom:#A51F10 3px solid;
    margin-bottom: 2rem;
}

nav li{
    flex-basis: 7%;
    padding: 1rem 0 1rem 0;
}

nav a{
    color: #A51F10;
}
/* ////////////////////////// */

h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}

/* floating the image next to each header/text */
section img{
    border-radius: 7%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

article:after{
    content:"";
    display: table;
    clear: both;
    margin-bottom: 2rem;
}

/* ////////////////////////// */

a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}

/* sorting the footer - inline-block */
section{
    border-bottom: 3px solid #DA0090;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    border-top:#A51F10 solid 3px;
    margin-top: 0.4rem;
    padding-top: 1rem;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer li{
    display: inline-block;
    list-style-type: none;
}

/* ////////////////////////// */