html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #F99E30;
}
p, [for="requests"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset{
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 1rem;
}
legend{
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	display: block;
}
label{
	display: block;
	padding-bottom: 0.2rem;
}
textarea{
	display: block;
	height: 10rem;
	padding: 1rem;
}
option{
	font-size: 1rem;
}
button{
	font-size: 1rem;
	margin: 1rem 0;
	background-color: #bb24fB;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	padding: 0.5rem 1rem;
}
button:hover{
	background-color: white;
	color: #bb24fB;
}
input:not([type="radio"]):not([type="checkbox"]), textarea{
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border-radius: 10px;
	border: none;
}

h1, legend, h3{
	font-family: "Kalam", cursive;
	font-size: 1.5rem;
}

iframe{
border: 1px, solid, rgb(0, 0, 0);
border-radius: 10px;
margin-top: 1rem;
}



